<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Proyecto UTD{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/estilos.css" type="text/css">
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="/static/img/logophp.png" alt="Imagen Django" title="Django">
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'acerca_de' %}">Acerca de</a></li>
            <li><a href="{% url 'mision' %}">Misión</a></li>
            <li><a href="{% url 'vision' %}">Visión</a></li>
        </ul>
    </nav>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <p>Curso de Django con Dagonline &copy; 2024 | Visitado el: {% now "d/m/Y" %}</p>
    </footer>
</body>
</html>